<!DOCTYPE html>
<html>
  <head>
    <title>GarageTask</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid'>
      <div class='container'>
        <%= yield %>
      </div>
    </div>

    <div class='clearfix'></div>
    <br>
    <div class='text-center'>
      <% if @current_user %>
        <%= link_to "<i class='fa fa-sign-out' aria-hidden='true'></i> Sign Out".html_safe, destroy_user_session_path, method: :delete %>
      <% end %>
      <p id='copy'>&copy; Ruby Garage</p>
      <br>
    </div>
  </body>
</html>
